@use "./../01-abstracts/" as *;

.description {
  margin: 38px auto 0 auto;
  position: relative;
  max-width: 1110px;
  @include breakpoint($md) {
    margin-top: 99px;
    margin-bottom: 186px;
  }
  @include breakpoint($md-lg) {
    margin-top: 178px;
    margin-bottom: 226px;
  }

  &__container {
    margin: 16px;
    max-width: 398px;
    @include breakpoint($md) {
      margin-left: 39px;
    }
    @include breakpoint($md-lg) {
      margin-left: 0;
      max-width: 457px;
    }
  }

  &__title {
    font-size: rem(40px);
    font-weight: 800;
    line-height: calc(50 / 40); // 1.25
    margin-bottom: 26px;
    max-width: 326px;
    @include breakpoint($md) {
      margin-bottom: 25px;
    }
    @include breakpoint($md-lg) {
      max-width: none;
      font-size: rem(56px);
      margin-bottom: 29px;
    }
  }

  &__text {
    color: $grey;
    font-size: rem(16px);
    font-weight: 500;
    line-height: calc(26 / 16); // 1.625
    margin: 26px 0 24px;
    max-width: 445px;
    @include breakpoint($md) {
      margin-top: 25px;
    }
    @include breakpoint($md-lg) {
      font-size: rem(18px);
      line-height: calc(28 / 16); // 1.56
      margin: 29px 0 40px;
    }
  }

  &__img {
    @include breakpoint($md) {
      position: absolute;
      top: -230px;
      left: 380px;
      width: 640px;
      z-index: -1;
    }
    @include breakpoint($md-lg){
      left: auto;
      right: -100px;
    }
    @include breakpoint($lg){
      width: 991px;
      top: -400px;
      right: -400px;
    }
  }
}
