@use './../01-abstracts/' as *;

.footer {
    height: 120px;
    background-color: $dark-blue;
    padding: 36px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint($md){
        padding-left: 39px;
        padding-right: 40px;
    }

    &__logo {
        width: 89px;
    }
    &__button {
        background: $gradient2;
    }
}