@use './../01-abstracts/' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    max-width: 1110px;
    margin: 0 auto;

    @include breakpoint($md){
        padding: 24px 40px 0 39px;
    }
    @include breakpoint($lg){
        padding: 29px 0 0 0;
    }

    &__logo{
        width: 89px;
    }

    &__button {
        &:hover{
            background: $light-blue;
        }
    }
}