/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

body,
button {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #13183f;
}

a {
  color: #f74780;
  text-decoration: none;
}
a:hover {
  color: #ffa7c3;
}

.primary-button {
  border-radius: 28px;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  width: 167px;
  height: 56px;
  background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  line-height: 1.625;
}
.primary-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.secondary-button {
  border-radius: 28px;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  width: 140px;
  height: 48px;
  background-color: #13183f;
  line-height: 1.75;
}
.secondary-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  max-width: 1110px;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .header {
    padding: 24px 40px 0 39px;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 29px 0 0 0;
  }
}
.header__logo {
  width: 89px;
}
.header__button:hover {
  background: #666ca3;
}

.main {
  margin-top: 38px;
  overflow-x: clip;
}

.description {
  margin: 38px auto 0 auto;
  position: relative;
  max-width: 1110px;
}
@media (min-width: 640px) {
  .description {
    margin-top: 99px;
    margin-bottom: 186px;
  }
}
@media (min-width: 960px) {
  .description {
    margin-top: 178px;
    margin-bottom: 226px;
  }
}
.description__container {
  margin: 16px;
  max-width: 398px;
}
@media (min-width: 640px) {
  .description__container {
    margin-left: 39px;
  }
}
@media (min-width: 960px) {
  .description__container {
    margin-left: 0;
    max-width: 457px;
  }
}
.description__title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.25;
  margin-bottom: 26px;
  max-width: 326px;
}
@media (min-width: 640px) {
  .description__title {
    margin-bottom: 25px;
  }
}
@media (min-width: 960px) {
  .description__title {
    max-width: none;
    font-size: 3.5rem;
    margin-bottom: 29px;
  }
}
.description__text {
  color: #83869a;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  margin: 26px 0 24px;
  max-width: 445px;
}
@media (min-width: 640px) {
  .description__text {
    margin-top: 25px;
  }
}
@media (min-width: 960px) {
  .description__text {
    font-size: 1.125rem;
    line-height: 1.75;
    margin: 29px 0 40px;
  }
}
@media (min-width: 640px) {
  .description__img {
    position: absolute;
    top: -230px;
    left: 380px;
    width: 640px;
    z-index: -1;
  }
}
@media (min-width: 960px) {
  .description__img {
    left: auto;
    right: -100px;
  }
}
@media (min-width: 1280px) {
  .description__img {
    width: 991px;
    top: -400px;
    right: -400px;
  }
}

.grid {
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
.grid__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 0 16px;
  padding-bottom: 80px;
  max-width: 1110px;
}
@media (min-width: 640px) {
  .grid__wrapper {
    margin: 0 40px 0 39px;
    grid-template-columns: 1fr 1fr;
    column-gap: 11px;
    row-gap: 32px;
    padding-bottom: 86px;
  }
}
@media (min-width: 960px) {
  .grid__wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 56px;
    padding-bottom: 140px;
  }
}
.grid__main-cell {
  color: #fff;
  background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  border-radius: 10px;
  height: 120px;
  padding: 24px 28px;
}
@media (min-width: 640px) {
  .grid__main-cell {
    height: auto;
    margin-top: 24px;
    padding-top: 56px;
  }
}
@media (min-width: 640px) {
  .grid__main-cell {
    padding: 64px 32px 40px;
  }
}
.grid__main-cell-title {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.3333333333;
}
@media (min-width: 960px) {
  .grid__main-cell-title {
    font-size: 2rem;
    line-height: 1.25;
  }
}
.grid__cell {
  background-color: #fff;
  border-radius: 10px;
  padding: 56px 28px 32px;
  position: relative;
  margin-top: 24px;
}
@media (min-width: 960px) {
  .grid__cell {
    padding: 64px 32px 40px;
  }
}
.grid__cell-img {
  width: 56px;
  position: absolute;
  top: -24px;
}
.grid__cell-title {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: 16px;
}
@media (min-width: 960px) {
  .grid__cell-title {
    font-size: 1.5rem;
    margin-bottom: 24px;
  }
}
.grid__cell-text {
  color: #83869a;
  font-size: 1rem;
  line-height: 1.625;
  margin-bottom: 24px;
}
@media (min-width: 960px) {
  .grid__cell-text {
    font-size: 1.125rem;
    line-height: 1.5555555556;
  }
}
.grid__cell-anchor {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5555555556;
}

.footer {
  height: 120px;
  background-color: #13183f;
}
.footer__wrapper {
  padding: 36px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .footer__wrapper {
    padding-left: 39px;
    padding-right: 40px;
  }
}
@media (min-width: 1280px) {
  .footer__wrapper {
    padding: 32px 0;
  }
}
.footer__logo {
  width: 89px;
}
.footer__button {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
}

.inline-block {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
