@use "./../01-abstracts/" as *;

.secondary-button {
    width: 140px;
    height: 48px;
    border-radius: 28px;
    border: 0;
    cursor: pointer;
    background-color: $dark-blue;
    color: $white;
    font-weight: 700;
    font-size: rem(16px);
    line-height: calc(28/16); // 1.75
}